    p{
        color: #FFCF11;                             /*задали цвет текста заголовка */
    }

    .box-1{ /*обратились к конкретному div по классу*/
        background-color: #1141ff;  /*задали цвет фона div */
        width: 400px;               /*задали ширину div */
        height: 400px;              /*задали высоту div */
    }

    .box-2{ /*обратились к конкретному div по классу*/
        background-color: #ff1149;  /*задали цвет фона div */
        width: 400px;               /*задали ширину div */
        height: 400px;              /*задали высоту div */
    }


    h1{
        font-size: 50px;                          /*задали размер заголовка, измерение в px пикселях   */
    }